.banner2 {
  width: 1590px;
  height: 1081px;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  mix-blend-mode: normal;
  border-radius: 100px 0px 600px;
}

.containerBanner2 h1{
  position: absolute;
  width: 818px;
  height: 250px;
  bottom: 0px;
  text-align: left;
  margin-left: 30px;

  font-weight: 400;
  font-size: 72px;
  line-height: 75px;

  color: #FFFFFF;
}

.buttonBanner2 {
  position: absolute;
  width: 486px;
  height: 66px;
  left: 30px;
  top: 969px;
  
  background: rgba(251, 252, 253, 0.94);
  border-radius: 10px;
}

.buttonBanner2 h2 {
  
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
}