.bannerFinal {
  width: 1590px;
  height: 1081px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(piscina-thumb600.jpg);
  mix-blend-mode: normal;
  border-radius: 100px 0px 582.5px;
  
}