.home {
  display: flex;
  flex-direction: column;
  margin-left: 66px;
  align-content: space-between;
  gap: 30px;
}

.home a {
  text-decoration: none;
  outline: none;
  color: black;
  font-family: 'Inter', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;   
}

.home a:hover{
  text-decoration:underline;
  text-decoration-color:#FFB41D;
  }
