.localizacao {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.endereco {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.endereco h2 {
  width: 544px;
  height: 124px; 
  display: flex;
  align-items: center; 
  margin-left: 40px;
}

.endereco h3 {
  width: 100%;
  height: 106px;
  margin-left: 100px;
  
  font-weight: 400;
}

.itens {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.itensRow {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
}

.itensTexto {
  display: flex;
  flex-direction: row;
  width: 50px;
  height: 50px;
  background: url(icons8-shop-50.png);
}



.mapa {
  width: 100;
  height: 1102px;
  background: linear-gradient(0deg, rgba(243, 173, 59, 0.1), rgba(243, 173, 59, 0.1));
  mix-blend-mode: normal;
  border-radius: 600px 0px 100px;
}